<h2>Sega Genesis Consoles and Games</h2>

<table>
  <tr>
    <ng-container *ngFor="let gameProduct of gameProducts">
      <ng-container *ngIf="gameProduct.name === 'Sega Genesis'">
        <td>
          <a routerLink="/game-product-detail/{{gameProduct.id}}">
            <img src={{gameProduct.imageLocation}} width="300" height="200"> <br>
            Name: {{gameProduct.name}} <br>
            Price: {{gameProduct.price | currency}} <br>
            Condition: {{gameProduct.condition}} <br>
          </a>
        </td>
      </ng-container>
    </ng-container>
  </tr>

  <tr>
    <ng-container *ngFor="let gameProduct of gameProducts">
      <ng-container *ngIf="gameProduct.console === 'Sega Genesis' && gameProduct.type === 'Game'">
        <td>
          <a routerLink="/game-product-detail/{{gameProduct.id}}">
            <img src={{gameProduct.imageLocation}} width="300" height="200"> <br>
            Name: {{gameProduct.name}} <br>
            Price: {{gameProduct.price | currency}} <br>
            Condition: {{gameProduct.condition}} <br>
          </a>
        </td>
      </ng-container>
    </ng-container>
  </tr>
</table>

