<h2>Sell Form</h2>
<form>
  <div class="form-item">
    <label> Name of Game Product:
      <input #sellItemName />
    </label>
  </div>
  <div class="form-item">
    <label> Console:
      <select #sellItemConsole name="console">
        <option>NES</option>
        <option>Master System</option>
        <option>SNES</option>
        <option>Sega Genesis</option>
      </select>
    </label>
  </div>
  <div class="form-item">
    <label> Item Type:
      <select #sellItemType>
        <option>Console</option>
        <option>Game</option>
      </select>
    </label>
  </div>
  <div class="form-item">
    <label> Condition:
      <select #sellItemCondition>
        <option>NEW-SEALED</option>
        <option>USED-PARTS</option>
        <option>USED-GOOD</option>
        <option>USED-GREAT</option>
        <option>USED-EXCELLENT</option>
      </select>
    </label>
  </div>
  <button (click)="add(sellItemName.value, sellItemConsole.value, sellItemType.value, sellItemCondition.value); sellItemName.value='';">
    submit
  </button>
</form>
<h2>Submitted Items</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Console</th>
      <th>Item Type</th>
      <th>Condition</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let sellItem of sellItems">
      <tr>
        <td>{{sellItem.name}}</td>
        <td>{{sellItem.console}}</td>
        <td>{{sellItem.type}}</td>
        <td>{{sellItem.condition}}</td>
        <td><button (click)="delete(sellItem)">Remove</button></td>
      </tr>
    </ng-container>
  </tbody>
</table>

