* {
  box-sizing: border-box;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

.sellItemForm {
  margin: auto;
  width: 60rem;
  display: flex;
  align-items: center;
}

table {
  background: white;
  border: 1px solid black;
  border-collapse: collapse;
  table-layout: fixed;
  /*border-collapse: collapse;*/
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
  /*margin-top: 10px;*/
  width: 60rem;
}

form {
  background: white;
  margin: auto;
  width: 40rem;
  height: 20rem;
  border: 1px solid grey;
  border-radius: 10px;
  text-align: center;
}

input {
  width: 30rem;
}

.form-item {
  margin: 2rem;
}


tr {
  cursor: pointer;
}

th {
  width: 10rem;
}

td {
  border: 1px solid black;
  padding: 2px;
  /*white-space: pre;*/
  text-align: center;
}

a {
  text-decoration: none;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

tr:nth-child(even) {
  background-color: lightgray;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

