<header>
    <nav>
      <ul>
        <!--<li class="logo"><a href="/home-page">{{title}}</a></li>-->
        <!--<li class="logo"><img src="assets/img/retro_exchange_logo.png" width="90.35" height="39.4"></li>-->
        <a routerLink="/home-page"><li class="logo"><img src="assets/img/retro_exchange_logo_nav.png"></li></a>
        <!--<li class="search"><app-game-product-search></app-game-product-search></li>-->
        <li><a href="/cart">CART</a></li>
        <li><a href="/account">ACCOUNT</a></li>
        <li><a href="/sell">SELL</a></li>
        <li><a routerLink="/snes-products">SNES</a></li>
        <li><a routerLink="/genesis-products">GENESIS</a></li>
        <li><a href="/nes-products">NES</a></li> <!-- placeholder -->
        <li><a href="/master-system-products">MASTER SYSTEM</a></li> <!-- placeholder -->
      </ul>
    </nav>
</header>
<router-outlet></router-outlet>
<!--
<div class="header">
    <h1>{{title}}</h1>
    <nav>
      <a routerLink="/snes-products">SNES</a>
      <a routerLink="/genesis-products">GENESIS</a>
    </nav>
</div>
<router-outlet></router-outlet>


<nav>
  <a routerLink="/snes-products">SNES</a>
  <a routerLink="/genesis-products">GENESIS</a>
</nav>
<router-outlet></router-outlet>
-->

