<header>
    <nav>
      <ul>
        <li class="logo">{{title}}</li>
        <li><a href="/cart">CART</a></li>
        <li><a href="/account">ACCOUNT</a></li> <!-- placeholder -->
        <li><a href="/trade">TRADE</a></li> <!-- placeholder -->
        <li><a href="/sell">SELL</a></li> <!-- placeholder -->
        <li><a routerLink="/snes-products">SNES</a></li>
        <li><a routerLink="/genesis-products">GENESIS</a></li>
        <li><a href="/nes-products">NES</a></li> <!-- placeholder -->
        <li><a href="/master-system-products">MASTER SYSTEM</a></li> <!-- placeholder -->
      </ul>
    </nav>
</header>
<router-outlet></router-outlet>
<!--
<div class="header">
    <h1>{{title}}</h1>
    <nav>
      <a routerLink="/snes-products">SNES</a>
      <a routerLink="/genesis-products">GENESIS</a>
    </nav>
</div>
<router-outlet></router-outlet>


<nav>
  <a routerLink="/snes-products">SNES</a>
  <a routerLink="/genesis-products">GENESIS</a>
</nav>
<router-outlet></router-outlet>
-->

