<h2>Super Nintendo Consoles and Games</h2>


<h3>Super Nintendo Consoles</h3>
<table>
  <thead>
    <tr>
      <th>Box Art</th>
      <th>Name</th>
      <th>Price</th>
      <th>Condition</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let gameProduct of gameProducts">
      <ng-container *ngIf="gameProduct.name === 'Super Nintendo'">
        <tr routerLink="/game-product-detail/{{gameProduct.id}}">
              <td><div><img src={{gameProduct.imageLocation}} width="90" height="60"></div></td>
              <td class="name">{{gameProduct.name}}</td>
              <td class="price">{{gameProduct.price | currency}}</td>
              <td class="condition">{{gameProduct.condition}}</td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>

<h3>Super Nintendo Games</h3>
<table>
  <thead>
    <tr>
      <th>Box Art</th>
      <th>Name</th>
      <th>Price</th>
      <th>Condition</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let gameProduct of gameProducts">
      <ng-container *ngIf="gameProduct.console === 'Super Nintendo' && gameProduct.type === 'Game'">
        <tr routerLink="/game-product-detail/{{gameProduct.id}}">
              <td><img src={{gameProduct.imageLocation}} width="90" height="60"></td>
              <td>{{gameProduct.name}}</td>
              <td>{{gameProduct.price | currency}}</td>
              <td>{{gameProduct.condition}}</td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>

<!--
<h3>Super Nintendo Games</h3>
<table>
    <tr>
      <th>Box Art</th>
      <th>Name</th>
      <th>Price</th>
      <th>Condition</th>
    </tr>
    <tr>
      <td>one</td>
      <td>two</td>
      <td>three</td>
      <td>four</td>
    </tr>

</table>
-->

<!--
<table>
  <tr>
    <ng-container *ngFor="let gameProduct of gameProducts">
      <ng-container *ngIf="gameProduct.name === 'Super Nintendo'">
        <td>
          <a routerLink="/game-product-detail/{{gameProduct.id}}">
            <img src={{gameProduct.imageLocation}} width="300" height="200"> <br>
            {{gameProduct.name}} <br>
            {{gameProduct.price | currency}} <br>
            {{gameProduct.condition}} <br>
          </a>
          <button (click)="addToCart(gameProduct)">add to cart</button>
        </td>
      </ng-container>
    </ng-container>
  </tr>

  <tr>
    <ng-container *ngFor="let gameProduct of gameProducts">
      <ng-container *ngIf="gameProduct.console === 'Super Nintendo' && gameProduct.type === 'Game'">
        <td>
          <a routerLink="/game-product-detail/{{gameProduct.id}}">
            <img src={{gameProduct.imageLocation}} width="300" height="200"> <br>
            {{gameProduct.name}} <br>
            {{gameProduct.price | currency}} <br>
            {{gameProduct.condition}} <br>
          </a>
          <button>add to cart</button>
        </td>
      </ng-container>
    </ng-container>
  </tr>
</table>

<h3>Super Nintendo Games</h3>
<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Price</th>
      <th>Condition</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let gameProduct of gameProducts">
      <ng-container *ngIf="gameProduct.console === 'Super Nintendo' && gameProduct.type === 'Game'">
        <tr>
          <a routerLink="/game-product-detail/{{gameProduct.id}}">
              <td><img src={{gameProduct.imageLocation}} width="90" height="60"></td>
              <td>{{gameProduct.name}}</td>
              <td>{{gameProduct.price | currency}}</td>
              <td>{{gameProduct.condition}}</td>
          </a>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>
-->




