<div class="home-page-area">
  <div class="logo">
    <img src="assets/img/retro_exchange_logo.png">
  </div>
  <div class="shop-by">
    <h2>Shop by Console:</h2>
  </div>
  <a routerLink="/nes-products/">
    <div class="nes">
      <img src="assets/img/nes_logo.png">
    </div>
  </a>
  <a routerLink="/master-system-products/">
    <div class="master-system">
      <img src="assets/img/master_system_logo.png">
    </div>
  </a>
  <a routerLink="/snes-products/">
    <div class="snes">
      <img src="assets/img/snes_logo.png">
    </div>
  </a>
  <a routerLink="/genesis-products/">
    <div class="genesis">
      <img src="assets/img/sega_genesis_logo.png">
    </div>
  </a>
</div>
