<div class="account-details" *ngIf="account">
  <h2>Account Details</h2>
    <ul>
      <li>
        <label> First Name:
          <input [(ngModel)]="account.firstName" placeholder="Enter First Name"/>
        </label>
      </li>
      <li>
        <label> Last Name:
          <input [(ngModel)]="account.lastName" placeholder="Enter Last Name"/>
        </label>
      </li>
      <li>
        <label> Date of Birth:
          <input [(ngModel)]="account.dateOfBirth" placeholder="Enter DOB"/>
        </label>
      </li>
      <li>
        <label> Address:
          <input [(ngModel)]="account.address" placeholder="Enter Address"/>
        </label>
      </li>
      <li>
        <label> City:
          <input [(ngModel)]="account.city" placeholder="Enter City"/>
        </label>
      </li>
      <li>
        <label> State:
          <input [(ngModel)]="account.state" placeholder="Enter State"/>
        </label>
      </li>
      <li>
        <label> Zip Code:
          <input [(ngModel)]="account.zipCode" placeholder="Enter Zip Code"/>
        </label>
      </li>
      <li>
        <label> Phone:
          <input [(ngModel)]="account.phone" placeholder="Enter Phone Number"/>
        </label>
      </li>
      <li>
        <label> Email:
          <input [(ngModel)]="account.email" placeholder="Enter Email Address"/>
        </label>
      </li>
      <li>
        <label> Password:
          <input [(ngModel)]="account.password" placeholder="Update Password"/>
        </label>
      </li>
      <li>
        <label> ID:
          <input [(ngModel)]="account.id" placeholder="id"/>
        </label> <br/>
      </li>
    </ul>
    <div class="submit-button">
      <button (click)="saveAccount()">SAVE CHANGES</button>
    </div>
  </div>

 <!--/
  <form class="account-details" *ngIf="account">
  <h2>Account Details</h2>
    <label> First Name:
      <input name="firstName" [(ngModel)]="account.firstName" placeholder="Enter First Name"/>
    </label> <br/>

    <label> Last Name:
      <input name="lastName" [(ngModel)]="account.lastName" placeholder="Enter Last Name"/>
    </label> <br/>

    <label> Date of Birth:
      <input name="dateOfBirth" [(ngModel)]="account.dateOfBirth" placeholder="Enter DOB"/>
    </label> <br/>

    <label> Address:
      <input name="address" [(ngModel)]="account.address" placeholder="Enter Address"/>
    </label> <br/>

    <label> City:
      <input name="city" [(ngModel)]="account.city" placeholder="Enter City"/>
    </label> <br/>

    <label> State:
      <input name="state "[(ngModel)]="account.state" placeholder="Enter State"/>
    </label> <br/>

    <label> Zip Code:
      <input  name="zipCode" [(ngModel)]="account.zipCode" placeholder="Enter Zip Code"/>
    </label> <br/>

    <label> Phone:
      <input  name="phone" [(ngModel)]="account.phone" placeholder="Enter Phone Number"/>
    </label> <br/>

    <label> Email:
      <input  name="email" [(ngModel)]="account.email" placeholder="Enter Email Address"/>
    </label> <br/>

    <label> Password:
      <input name="password" [(ngModel)]="account.password" placeholder="Update Password"/>
    </label> <br/>

    <label> ID:
      <input name="id" [(ngModel)]="account.id" placeholder="id"/>
    </label> <br/>

<div class="submit-button">
  <button type="submit" (click)="save()">SAVE CHANGES</button>
</div>
</form>
-->


<!--
  <div class="account-details">
  <h2>Account Details</h2>
  <ul *ngFor="let account of accounts">
    <li>
      <label> First Name:
        <input [(ngModel)]="account.firstName" placeholder="Name"/>
      </label>
    </li>
    <li>First Name:{{account.firstName}}</li>
    <li>
      <label> Last Name:
        <input [(ngModel)]="account.lastName" placeholder="Name"/>
      </label>
    </li>
    <li>Last Name:{{account.lastName}}</li>
    <li>Date of Birth:{{account.dateOfBirth}}</li>
    <li>Address:{{account.address}}</li>
    <li>City:{{account.city}}</li>
    <li>State:{{account.state}}</li>
    <li>Zip:{{account.zipCode}}</li>
    <li>Phone:{{account.phone}}</li>
    <li>Email:{{account.email}}</li>
    <li>Password:{{account.password}}</li>
  </ul>
</div>
-->

<!--
    <div class="account-details" *ngIf="account">
  <h2>Account Details</h2>
    <ul>
      <li>
        <label> First Name:
          <input name="firstName" [(ngModel)]="account.firstName" placeholder="Enter First Name"/>
        </label>
      </li>
      <li>
        <label> Last Name:
          <input [(ngModel)]="account.lastName" placeholder="Enter Last Name"/>
        </label>
      </li>
      <li>
        <label> Date of Birth:
          <input [(ngModel)]="account.dateOfBirth" placeholder="Enter DOB"/>
        </label>
      </li>
      <li>
        <label> Address:
          <input [(ngModel)]="account.address" placeholder="Enter Address"/>
        </label>
      </li>
      <li>
        <label> City:
          <input [(ngModel)]="account.city" placeholder="Enter City"/>
        </label>
      </li>
      <li>
        <label> State:
          <input [(ngModel)]="account.state" placeholder="Enter State"/>
        </label>
      </li>
      <li>
        <label> Zip Code:
          <input [(ngModel)]="account.zipCode" placeholder="Enter Zip Code"/>
        </label>
      </li>
      <li>
        <label> Phone:
          <input [(ngModel)]="account.phone" placeholder="Enter Phone Number"/>
        </label>
      </li>
      <li>
        <label> Email:
          <input [(ngModel)]="account.email" placeholder="Enter Email Address"/>
        </label>
      </li>
      <li>
        <label> Password:
          <input [(ngModel)]="account.password" placeholder="Update Password"/>
        </label>
      </li>
    </ul>
    <div class="submit-button">
      <button (click)="save()">SAVE CHANGES</button>
    </div>
  </div>
-->
